<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data noupdate="1">
    
            <!-- groups="group_module_product_developer_user"  -->
        <menuitem
            id="product_development_menu"
            name="Product Dev"
            web_icon="idtx_product_development,static/description/icon.png">
                <menuitem id="operations_menu" name="Operations" sequence="10">
                    <menuitem id="product_analysis_menu" name="Product Analysis" action="product_analysis_action" sequence="10"/>
                    <menuitem id="fabric_structure_menu" name="Fabric Structure" action="action_fabric_structure" sequence="20"/>
                </menuitem>
                <menuitem id="product_menu" name="Products" sequence="20">
                    <menuitem id="weaving_template_menu" name="Weaving" action="product_product_action_weaving" sequence="10"/>
                    <menuitem id="thread_template_menu" name="Thread" action="product_product_action_thread" sequence="20"/>
                </menuitem>
                <menuitem id="report_menu" name="Reports" sequence="30">
                    <!-- <menuitem id="product_template_menu" name="Products" action="product_product_action_weaving" sequence="10"/> -->
                </menuitem>
                <menuitem id="settings_menu" name="Settings" sequence="200">
                    <menuitem id="menu_settings_config" name="Settings" action="action_idtx_product_development_config" groups="base.group_system" sequence="0"/>
                    <menuitem id="mrp_routing_operation_action_menu" name="Workcenter Operations" action="mrp_routing_operation_action" sequence="10"/>
                    <menuitem id="configurate_svg_example_menu" name="Models SVG Configurate" action="configurate_svg_example_action" sequence="11"/>
                    <menuitem id="product_code_menu" name="Product Code" sequence="20">
                        <menuitem id="product_appearance_action_menu" name="Appearance" action="product_appearance_action" sequence="10"/>
                        <menuitem id="product_family_action_menu" name="Family" action="product_family_action" sequence="20"/>
                        <menuitem id="product_fiber_action_menu" name="Fiber" action="product_fiber_action" sequence="30"/>
                        <menuitem id="product_gauge_action_menu" name="Gauge" action="product_gauge_action" sequence="40"/>
                        <menuitem id="product_title_action_menu" name="Title" action="product_title_action" sequence="50"/>
                    </menuitem>
                </menuitem>
        </menuitem>

        <menuitem id="equipment_type_action_menu" name="Equipment Type" action="action_maintenance_equipment_type" sequence="900" parent="maintenance.menu_equipment_form"/>

    </data>
    

</odoo>
