<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data noupdate="1">
    
        <menuitem
            id="laboratory_menu"
            name="Laboratory"
            web_icon="idtx_laboratory,static/description/icon.png">
                <menuitem id="operations_menu" name="Operations" sequence="10">
                    <menuitem id="color_recipe_menu2" name="Color Recipe 2" action="color_recipe_action" sequence="5"/>
                    <menuitem id="product_color_menu" name="Product Color" action="product_color_action" sequence="10"/>
                    <menuitem id="color_recipe_menu" name="Color Recipe" action="color_recipe_action" sequence="20"/>
                </menuitem>
        </menuitem>

    </data>
    

</odoo>
